// main: ../style.less

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.nav__link {
    margin-left: 3rem;
    position: relative;

    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    
    
    &:hover {
        color: gold;
        transition: color .2s linear;
    }
}